<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ynshun.system.mapper.SystemEmployeeMapper">

	<select id="query" resultType="com.ynshun.common.data.MapData">
		SELECT  emp.id,
			emp.`name`,
			emp.`loginname`,
			emp.`create_id`,
			emp.`create_name`,
			emp.`create_time`,
			emp.`last_update_id`,
			emp.`last_update_name`,
			emp.`last_update_time`,
			org.full_org_name,
			role.role_name
		FROM system_employee emp
		LEFT JOIN system_role role ON role.id = emp.role_id
		LEFT JOIN (
			WITH RECURSIVE t AS (SELECT id, org_name, CONCAT('/', org_name) AS full_org_name, IFNULL(parent_id, '') AS parent_id FROM system_organiz WHERE parent_id IS NULL 
			UNION 
			SELECT a.id, a.org_name, CONCAT(t.full_org_name, '/', a.org_name) AS full_org_name, a.parent_id FROM system_organiz a, t WHERE a.parent_id = t.id )SELECT t.* FROM t
		) org ON org.id = role.`org_id`
		WHERE 1 = 1
		<if test="emp_name != null and emp_name != ''">
		  AND emp.`name` LIKE CONCAT('%', #{emp_name}, '%')
		</if>
		<if test="org_id != null and org_id != ''">
		  AND role.`org_id` IN (
				WITH RECURSIVE t AS (
					SELECT id FROM system_organiz WHERE id = #{org_id}
					UNION
					SELECT a.id FROM system_organiz a, t WHERE a.parent_id = t.id
				) SELECT t.id FROM t
		  )
		</if>
	</select>
</mapper>