<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ynshun.system.mapper.SystemOrganizMapper">

	<select id="selectChildrenByOrg" resultType="com.ynshun.common.data.MapData">
		<choose>
			<when test="parentId != null and parentId != ''">
				SELECT 
					CONCAT('role_', t1.id) as id,
					t1.create_time,
					t1.create_name,
					t1.role_name as name,
					t1.icon_skin as iconSkin,
					1 AS isParent,
					t1.description
				FROM system_role t1
				WHERE t1.deleted = 0
				  AND t1.org_id = #{parentId}
				
			UNION ALL
			
				SELECT
					CONCAT('org_', t1.id) as id,
					t1.create_time,
					t1.create_name,
					t1.org_name as name,
					t1.icon_skin as iconSkin,
					1 AS isParent,
					t1.description
				FROM system_organiz t1
				WHERE t1.deleted = 0
				  AND t1.parent_id = #{parentId}
			</when>
			<otherwise>
				SELECT
					CONCAT('org_', t1.id) as id,
					t1.create_time,
					t1.create_name,
					t1.org_name as name,
					t1.icon_skin as iconSkin,
					(SELECT COUNT(1) > 0 FROM system_organiz WHERE parent_id = t1.id) AS isParent,
					t1.description
				FROM system_organiz t1
				WHERE t1.deleted = 0
				  AND t1.parent_id IS NULL
			</otherwise>
		</choose>
	</select>
	
	<select id="selectChildrenByRole" resultType="com.ynshun.common.data.MapData">
		SELECT
			CONCAT('emp_', t1.id) as id,
			t1.create_time,
			t1.create_name,
			t1.name,
			t1.icon_skin as iconSkin,
			0 AS isParent,
			t1.description
		FROM system_employee t1
		WHERE t1.deleted = 0
		  AND t1.role_id = #{parentId}
	</select>


	<select id="selectChildrenByPage" resultType="com.ynshun.common.data.MapData">
 		WITH RECURSIVE t AS (
			SELECT id, deleted, org_name, CONCAT('/', org_name) AS full_org_name, IFNULL(parent_id, '') AS parent_id FROM system_organiz WHERE parent_id IS NULL
			UNION
			SELECT a.id, a.deleted, a.org_name, CONCAT(t.full_org_name, '/', a.org_name) AS full_org_name, a.parent_id FROM system_organiz a, t WHERE a.parent_id = t.id
		)
		SELECT t.*, IFNULL(tbl.org_name, '') AS parent_name FROM t
		LEFT JOIN system_organiz tbl ON t.parent_id = tbl.id
		WHERE t.deleted = 0
		<if test="parent_id != null and parent_id != ''">
			AND (t.parent_id = #{parent_id} OR t.id = #{parent_id})
		</if>
		<if test="org_name != null and org_name != ''">
			AND t.org_name LIKE CONCAT('%', #{org_name}, '%')
		</if>
    </select>
</mapper>