<head th:fragment="commons">
	<base href="/">
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="/static/js/plugins/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/js/plugins/font-awesome/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/js/plugins/DataTables/1.10.15/css/dataTables.bootstrap3.css">
	
	<link rel="stylesheet" href="/static/js/plugins/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<link rel="stylesheet" href="/static/js/plugins/zTree/v3/css/demo.css" type="text/css">
	
	<style type="text/css">
		#example_info { float: left; padding-right: 20px;}
		#example_length{ padding-top: 4px;}
	</style>
</head>

<div th:fragment="scripts">
<script type="text/javascript" src="/static/js/plugins/jquery/2.1.1/jquery.js"></script>
<script type="text/javascript" src="/static/js/plugins/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/DataTables/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/DataTables/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/zTree/v3/js/jquery.ztree.core.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/require/2.1.20/require.js"></script>
<script type="text/javascript" src="/static/js/plugins/require/config.js"></script>

</div>