<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>登录</title>
		<link rel="stylesheet" th:href="@{/static/js/plugins/layui/css/layui.css}" media="all" />
		<link rel="stylesheet" th:href="@{/static/css/login.css}" />
	</head>

	<body class="beg-login-bg">
		<div class="beg-login-box">
			<header>
				<h1>后台登录</h1>
			</header>
			<div id="loginForm" class="beg-login-main">
				<div class="layui-form-item">
					<label class="beg-login-icon">
                       <i class="layui-icon">&#xe612;</i>
                   </label>
					<input type="text" name="username" autocomplete="off" placeholder="这里输入登录名" class="layui-input">
				</div>
				<div class="layui-form-item">
					<label class="beg-login-icon">
                       <i class="layui-icon">&#xe642;</i>
                   </label>
					<input type="password" name="password" autocomplete="off" placeholder="这里输入密码" class="layui-input">
				</div>
				<div class="layui-form-item">
					<div class="beg-pull-left beg-login-remember">
						<label>记住帐号？</label>
						<input type="checkbox" name="rememberme" title="记住帐号" checked>
					</div>
					<div class="beg-pull-right">
						<button id="loginBtn" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe650;</i> 登录</button>
					</div>
					<div class="beg-clear"></div>
				</div>
			</div>
			<footer>
				<p>全球华人综合服务商城 © <a href="https://www.astoreplus.com" target="_blank">元彩互娛有限公司</a></p>
			</footer>
		</div>
		<script type="text/javascript" src="/static/js/plugins/jquery/2.1.1/jquery.js"></script>
		<script type="text/javascript" src="/static/js/plugins/require/2.1.20/require.js"></script>
		<script type="text/javascript" src="/static/js/plugins/require/config.js"></script>
		<script type="text/javascript">
			require(['module/login/login'], function (login) {
				login.init();
			});
		</script>
	</body>

</html>